@import url(../assets/fonts/fonts.css);
@import url(./main.css);

#demo{

    .carousel-inner{
        height: 78vh;
        @media only screen and (max-width: 992px) {
            height: 40vh;

        }
        img{
            background-size: cover;
            width: 100%;
    height: 78%;
    @media only screen and (max-width: 992px) {
        height: 39%;
    }
        }
    }
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat   center scroll;
    
    background-size: cover;
 
}

.carousel-indicators li{


    width: 13px !important;
    height: 13px !important;
    border-radius: 50% !important;
}

 .overlay{
     width: 30.688rem;
     height: 20.125rem;
     background-color: rgba(2, 26, 78, 0.75);
     padding: 4rem 3rem;
     color: white;
     position: absolute;
     top: 10rem;
    right: 14rem;
    @media only screen and (max-width: 992px) {

        color: #021a4e;
        background-color: transparent;
        padding: 1rem 1rem;
        color: white;
        position: absolute;
        top: 0%;
        left: 16%;
        text-align: center;
       
        height: unset;
        max-width: 15rem;
        
        font-weight: bold;
       

    }
h1{
    font-family: 'Crimson Text', serif;
    @media only screen and (max-width: 992px) {
        font-family: 'Crimson Text', serif;
        font-size: 31px;
        text-align: start;

    }
}

 }
/* .carousel-indicators li {
     background-color: #fff !important;
 }
  .active {
    background-color: red !important;
}*/
.carousel-indicators{
    bottom: 30px !important;
}