@import url(./main.scss);
#news{
    margin: 5rem 0;

    .news-block-img{
        position: relative;
        margin-bottom: 1.875rem;
        img{
        width: 100%;
        height: 100%;
        }
        div{
            position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 14.5px 18.5px;
    font-weight: bold;
    background-color: rgba(2, 26, 78, 0.8);
        }
    }


    .blogs{
       .blog-block{
        background-color: #f3f3f3;
        padding: 1.25rem 1.25rem;
       }

       
        .news-border{
            border-bottom: 2px solid #d5d5d5;
        }

        .news-block{
            margin-top: 1.25rem;
          
       

            .date{
                color: #021a4f;
                font-size: 14px;
            }
            .news-summary{
                color: #4a4a4a;
            }
        }
        .news-border:last-child{
            border-bottom: 0px solid #ffffff;


    
    }
 
       


    }
    
}


//image zoom effect
.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}


.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}




//statics

#statics{
    background-color: #021a4e;
    .info-block{
        display: flex;
        align-items: center;
        flex-flow: column;
        margin: 5rem 0;
        @media only screen and (max-width: 992px) {
            margin: 3.5rem 0;
        }
        justify-content: center;
        .number,.info-title{
            color: #e4c800;
           
        }


        .info-title{
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            letter-spacing: 1.48px;
            max-width: 70vw;
        }
        .number{
            font-size: 66px;
  font-weight: bold;
  padding: 1rem 0;
        }
    }
}


#events{
    .card{
        .event-img{
           position: relative;
           
        }
        .calender-img{
            background: url(../assets/events/shape-copy@3x.png) no-repeat;
            width: 4.7rem;
            height: 4.7rem;
          background-size: contain;
          position: absolute;
    right: 0.3rem;
    top: 0.3rem;
        }
    }
    .date{
        display: flex;
        align-items: center;
        flex-flow: column;
        margin: 1.59rem 0;
        /* height: 3rem; */
        /* width: 4.3rem; */
        /* justify-content: end; */
        line-height: 1.2;
       
        .day{
            font-size: 18px;
            font-weight: 800;
        }
        .month{
            font-size: 12px;
            font-weight: bold;

        }
    }


    .card{
        @media only screen and (max-width: 992px) {
            margin-bottom: 3rem;
        }
    }
    .line{
        width: 1.9px;
        height: 19px;
       
        background-color:#979797 ;
         
    }
}


#apply{
 .apply-img{
     background: url(../assets/apply/66-b-08-d-136-d-3058544-e-02-fa-236-f-7-ae-10-c@3x.png) no-repeat;
      
   
     height: 34.375rem;
     width: 100%;
     background-size: 100% 100%;
 
 }
     
    
    .apply-title{
     
        text-shadow: 0 2px 4px rgba(83, 83, 83, 0.48);
     
        font-size: 58px;
        font-weight: 800;
    
        line-height: 1.59;
    
        text-align: center;
        color: #021a4f;
    
 
        text-align: center;
     
        max-width: 76rem;
    
    }

    .main-btn{
     
        margin-top: 3.75rem;
 
    }
    .img-content{
        width: 100%;
        height: 100%;
        flex-flow: column;
        display: flex;
    align-items: center;
    justify-content: center;
    }
}



#form{
    .form-box{
        margin: 0 3.8rem;
        padding: 5rem 6.25rem;
        background: #f7f7f7;
        @media only screen and (max-width: 992px) {
            margin: 0 ;
            padding: 5rem 1.25rem;

        }
    }
    ::placeholder {
      color: #9f9f9f;
      }
    .main-btn{
        font-size: 18px;
        font-weight: bold;
    }
    .submit{
        margin-top: 3.5rem;

        .main-btn{
            font-size: 18px;
    font-weight: bold;
    padding: 0.875rem 2.5rem;
    margin-top: 14rem;
    padding: 0.875rem 2.5rem;

        }
    }
}