@import url(./main.scss);
#news {
  margin: 5rem 0;
}

#news .news-block-img {
  position: relative;
  margin-bottom: 1.875rem;
  overflow: hidden;
}

#news .news-block-img img {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#news .news-block-img img:hover {
  -webkit-transform: scale(1.2);
  /* IE 9 */
  transform: scale(1.2);
}

#news .news-block-img div {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 0.938rem 0.25rem;
  font-weight: bold;
  background-color: rgba(2, 26, 78, 0.8);
}

@media only screen and (max-width: 768px) {
  #news .news-block-img div {
    font-size: 12px;
  }
}

@media only screen and (min-width: 992px) {
  #news .news-block-img div {
    font-size: 14px;
  }
}

#news .blogs .blog-block {
  background-color: #f3f3f3;
  padding: 1.25rem 1.25rem;
}

#news .blogs .news-border {
  border-bottom: 2px solid #d5d5d5;
}

#news .blogs .news-block {
  margin-top: 1.25rem;
}

#news .blogs .news-block .date {
  color: #021a4f;
  font-size: 14px;
}

#news .blogs .news-block .news-summary {
  color: #4a4a4a;
}

#news .blogs .news-border:last-child {
  border-bottom: 0px solid #ffffff;
}

#news .blogs .news-border:last-child .read-more {
  margin-left: 18rem;
}

.column {
  margin: 15px 15px 0;
  padding: 0;
}

.column:last-child {
  padding-bottom: 60px;
}

.column::after {
  content: '';
  clear: both;
  display: block;
}

.column div {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 0 0 25px;
  padding: 0;
}

.column div:first-child {
  margin-left: 0;
}

.column div span {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

#statics {
  background-color: #021a4e;
}

#statics .info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 992px) {
  #statics .info-block {
    margin: 3.5rem 0;
  }
}

#statics .info-block .number, #statics .info-block .info-title {
  color: #e4c800;
}

#statics .info-block .info-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.48px;
  max-width: 75%;
}

#statics .info-block .number {
  font-size: 66px;
  font-weight: bold;
  padding: 1rem 0;
}

#events .card .event-img {
  position: relative;
}

#events .card .calender-img {
  background: url(../assets/events/shape-copy@3x.png) no-repeat;
  width: 4.7rem;
  height: 4.7rem;
  background-size: contain;
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
}

#events .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 1.59rem 0;
  /* height: 3rem; */
  /* width: 4.3rem; */
  /* justify-content: end; */
  line-height: 1.2;
}

#events .date .day {
  font-size: 18px;
  font-weight: 800;
}

#events .date .month {
  font-size: 12px;
  font-weight: bold;
}

@media only screen and (max-width: 992px) {
  #events .card {
    margin-bottom: 3rem;
  }
}

#events .line {
  width: 1.9px;
  height: 19px;
  background-color: #979797;
}

#apply .apply-img {
  background: url(../assets/apply/66-b-08-d-136-d-3058544-e-02-fa-236-f-7-ae-10-c@3x.png) no-repeat;
  height: 34.375rem;
  width: 100%;
  background-size: 100% 100%;
}

#apply .apply-title {
  text-shadow: 0 2px 4px rgba(83, 83, 83, 0.48);
  font-size: 58px;
  font-weight: 800;
  line-height: 1.59;
  text-align: center;
  color: #021a4f;
  text-align: center;
  max-width: 76rem;
}

@media only screen and (max-width: 768px) {
  #apply .apply-title {
    font-size: 30px;
    max-width: 28rem;
  }
}

#apply .main-btn {
  margin-top: 3.75rem;
}

@media only screen and (max-width: 768px) {
  #apply .main-btn {
    font-size: 30px;
  }
}

#apply .apply-content {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#form .form-box {
  margin: 0 3.8rem;
  padding: 5rem 6.25rem;
  background: #f7f7f7;
}

@media only screen and (max-width: 992px) {
  #form .form-box {
    margin: 0;
    padding: 5rem 1.25rem;
  }
}

#form ::-webkit-input-placeholder {
  color: #9f9f9f;
}

#form :-ms-input-placeholder {
  color: #9f9f9f;
}

#form ::-ms-input-placeholder {
  color: #9f9f9f;
}

#form ::placeholder {
  color: #9f9f9f;
}

#form .main-btn {
  font-size: 18px;
  font-weight: bold;
}

#form .submit {
  margin-top: 3.5rem;
}

#form .submit .main-btn {
  font-size: 18px;
  font-weight: bold;
  padding: 0.875rem 2.5rem;
  margin-top: 14rem;
  padding: 0.875rem 2.5rem;
}
/*# sourceMappingURL=content.css.map */