#news{
    margin: 5rem 0;

    .news-block-img{
        position: relative;
        margin-bottom: 1.875rem;
        img{
        width: 100%;
        height: 100%;
        }
        div{
            position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 14.5px 18.5px;
    font-weight: bold;
    background-color: rgba(2, 26, 78, 0.8);
        }
    }


    .blogs{
       .blog-block{
        background-color: #f3f3f3;
        padding: 1.25rem 1.25rem;
       }

       
        .news-border{
            border-bottom: 2px solid #d5d5d5;
        }

        .news-block{
            margin-top: 1.25rem;
            .news-title{
                font-size: 16px;
                font-weight: 600;
                margin-top: 0.625rem;
                color: #021a4f;
            }

            .read-more{
                margin-bottom: 1.25rem;
                a{
                   color:  #021a4f;
                   font-size: 14px;
                   font-weight: bold;
                 
                  
                }
                i{
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s, opacity 0.5s linear;
                    transition: 0.5s ease;
                  
                }

            }
            .read-more:hover i{
                visibility: visible;
                opacity: 1;
                margin-left:0.4rem ;
               
            }

            .date{
                color: #021a4f;
                font-size: 14px;
            }
            .news-summary{
                color: #4a4a4a;
            }
        }
        .news-border:last-child{
            border-bottom: 0px solid #ffffff;


    
    }
 
       


    }
    
}


//image zoom effect
.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}


.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}




//statics

#statics{
    background-color: #021a4e;
    .info-block{
        display: flex;
        align-items: center;
        flex-flow: column;
        margin: 5rem 0;
        @media only screen and (max-width: 992px) {
            margin: 3.5rem 0;
        }
        justify-content: center;
        .number,.info-title{
            color: #e4c800;
           
        }


        .info-title{
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            letter-spacing: 1.48px;
            max-width: 70vw;
        }
        .number{
            font-size: 66px;
  font-weight: bold;
  padding: 1rem 0;
        }
    }
}


#events{
    .card{
        .event-img{
           position: relative;
           
        }
        .calender-img{
            background: url(../assets/events/shape-copy@3x.png) no-repeat;
            width: 4.7rem;
            height: 4.7rem;
          background-size: contain;
          position: absolute;
    right: 0.3rem;
    top: 0.3rem;
        }
    }
    .date{
        display: flex;
        align-items: center;
        flex-flow: column;
        margin: 1.59rem 0;
        /* height: 3rem; */
        /* width: 4.3rem; */
        /* justify-content: end; */
        line-height: 1.2;
       
        .day{
            font-size: 18px;
            font-weight: 800;
        }
        .month{
            font-size: 12px;
            font-weight: bold;

        }
    }
}