@import url(../assets/fonts/fonts.css);

$mainBlue:#021a4e;
*{
    padding: 0;
    margin: 0;
     
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
   text-decoration: none !important;
}

.title{
    color: $mainBlue;
    border-bottom: 3px solid $mainBlue;
    .title-text{
        margin-bottom: 0;
        font-size: 36px;
  font-weight: bold;
    }
}


 ul{
     margin-bottom: 0 !important;
 }


 .link-cont {
    position: relative;
    font-size: 24px;
}
section{
    margin: 5rem 0;
}
.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
}

.link-wrapper {
    position: relative;
    display: block;
    padding: 20px 0;
}

.inner-wrapper {
    position: relative;
    display: inline-block;
}

.hover {
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 50%;
        height: 1.5px;
        background-color: #fff;
        transform: scaleX(0);
        transform-origin: bottom left;

        transition: transform 0.3s;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        left : 50%;
        height: 1.5px;
        background-color: #fff;
        transform: scaleX(0);
        transform-origin: bottom right;

        transition: transform 0.3s;
    }

    &:hover {
        &:before {
            transform: scaleX(1);
        }

        &:after {
            transform: scaleX(1);
        }
    }
}
