@import url(../assets/fonts/fonts.css);

$mainBlue:#021a4e;
$mainYellow:#e4c800;
*{
    padding: 0;
    margin: 0;
     
}
body{
    font-family: 'Open Sans', sans-serif;
    
}
a{
   text-decoration: none !important;
}

.title{
    color: $mainBlue;
    border-bottom: 3px solid $mainBlue;
    .title-text{
        margin-bottom: 0;
        font-size: 36px;
  font-weight: bold;
    }
}


 ul{
     margin-bottom: 0 !important;
 }


 .link-cont {
    position: relative;
    font-size: 24px;
}
section{
    margin: 5rem 0;
}
.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
}
.content-title{
    font-size: 16px;
    font-weight: 600;
    margin: 0.62rem 0;
    color: #021a4f;
    letter-spacing: 0.4px;
    &:hover{
        color: lighten($color: #000000, $amount: 20%);
    }
}
.content-summary{
    font-style: normal;
  line-height: 1.63;
  overflow: hidden;
  max-height: 52px;
}
.details{
    line-height: 1.64;
font-size: 14px;
}
.link-wrapper {
    position: relative;
    display: block;
    padding: 20px 0;
}

.inner-wrapper {
    position: relative;
    display: inline-block;
}
a:hover{
    color: unset !important;
}

//section title 

.title-wrapper {
   margin-bottom: 1.875rem;
    .title-m{
        border-bottom: solid 2px #021a4e;
        font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.9px;
 
  color: #021a4f;
    }
}


.main-btn{
    padding: 1.5rem 3.25rem;
    background-color: #021a4e;
    font-size: 54px;
    font-weight: 800;
    color: $mainYellow;
    line-height: 1.06;
    &:hover{
        color: #ffe100 !important;
    }
}
.read-more{
    margin-bottom: 1.25rem;
    text-align: end ;
  
    a{
       color:  #021a4f;
       font-size: 14px;
       font-weight: bold;
       
     
      
    }
    i{

        opacity: 0;
        visibility: hidden;
        width: 0;
        transition: visibility 0.5s ease, opacity 0.5s ease;
        transition: 0.5s ease;
      
    }

}
 .read-more:hover i{
    visibility: visible;
    opacity: 1;
    width: 14px;
    margin-left:0.4rem ;
   
 }

//scro top
.scroll-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    background-color: #e4c800;
    border: none;
    border-radius: 50%;
    width: 61px;
    height: 60px;
   
}